---
title: "Did I Break You? Reverse Dependency Verification"
url: "https://developers.soundcloud.com/blog/did-i-break-you"
date: "2021-05-25"
feed_url: "https://developers.soundcloud.com/blog/blog.rss"
---
SoundCloud was founded 13 years ago, and throughout its history, the company and much of its tech stack has changed. We started with a…
